@import "~sass-variables";

.screen {
  display: flex;
  min-height: 100vh;
  background: $yellow;
  width: 100%;
  position: relative;
}

.container {
  flex: 1;
  padding: 1.5rem;
}

.header {
  font-weight: 800;
  font-size: 1.5rem;
  color: $purple;
}

.subHeader {
  font-weight: 800;
  font-size: 2.3rem;
  margin-top: 0.8rem;
  color: $purple;
}
