@import "~sass-variables";

.paymentTitle{
  color: $white;
  margin-top: 30px;
  font-weight: bold;
}

.paymentContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.freeContainer{
  background-color: $yellow;
  border-radius: 32px;
  text-align: center;
  width: 300px;
  height: 422px;
  padding: 18px;
  margin: 40px 30px;
  h1{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h5{
    font-weight: bold;
  }
}

.proContainer{
  background-color: $darkBlue;
  color: $white;
  border-radius: 32px;
  text-align: center;
  width: 600px;
  height: 422px;
  padding: 0 18px;
  margin: 40px 30px;
  display: flex;
  align-items: center;
  h1, h4{
    color: $white;
    font-weight: bold;
  }
  h1{
    font-size: 110px;
    text-transform: uppercase;
  }
}

.proRightContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  margin-left: 32px;

  .proContainerTexts{
    text-align: left;
    h4{
      margin: 20px 0;    
      span{
        color: $yellow1;
        text-transform: uppercase;
      }
    }
  }
}

.freeText{
  margin: 30px 0 35px;
}

.proButtonContainer{
  background: $blue;
  padding: 0.9rem 3.2rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  h5 {
    color: $yellow1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
  }
}