@import "~sass-variables";

.container {
  height: 100vh;
  width: 14rem;
  background: $blue;
  padding-top: 2rem;
  position: sticky;
  top: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 60%;
    margin-bottom: 2rem;
  }
}

.link {
  margin-bottom: 5px;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: $darkBlue;
  }

  h3 {
    color: $white;
    font-weight: 700;
    font-size: 1.4rem;
    white-space: nowrap;
  }
  &.active {
    background: $white;
    h3 {
      color: $blue;
    }
  }
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountContainer {
  width: 100%;
  display: flex;
  align-items: center;
  background: $purple;
  padding: 1rem;
  margin-top: 1rem;
}

.profilePicture {
  width: 3.5rem;
  height: 3.5rem;
  background: $white;
  border-radius: 50%;
  margin-right: 1rem;
}

.accountInfoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  h4,
  h5 {
    color: $white;
    margin: 2px 0;
  }
  h4 {
    font-weight: 700;
    font-size: 1.3rem;
  }
  h5 {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
