@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Trial-Hairline.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Trial-Thin.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Trial-ExtraLight.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Trial-Light.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Trial-Book.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Trial-Regular.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Trial-SemiBold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Trial-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Trial-Heavy.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Trial-Black.ttf");
  font-weight: 1000;
  font-style: normal;
}
